<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-12">
            <rd-header></rd-header>
        </div>
        
    </div>
</div>

<div class="container">
    <div class="row">
        <app-produto *ngFor="let produto of produtos" [produto]="produto"></app-produto>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <rd-exemplos nome="Jonas"></rd-exemplos>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <rd-exemplos nome="Ivo"></rd-exemplos>
        </div>
    </div>
</div> -->
